.places {
    margin: 92px auto 0;
    max-width: 984px;
    width: 100%;
}

@media screen and (max-width: 1279.98px) {
    .places {
        max-width: 928px;
        padding: 0 48px;
    }
}

@media screen and (max-width: 1023.98px) {
    .places {
        margin-top: 88px;
        max-width: 720px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 767.98px) {
    .places {
        margin-top: 70px;
        max-width: 320px;
        padding: 0;
    }
}
