.places__image {
    grid-area: image;
    max-width: 460px;
    width: 100%;
    object-fit: cover;
    display: block;
}

@media screen and (max-width: 1279.98px) {
    .places__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 1023.98px) {
    .places__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 767.98px) {
    .places__image {
        max-width: 767.98px;
        padding: 0;
    }
}