.footer__columns {
    display: flex;
    color: white;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .footer__columns {
        display: block;
        padding-left: 16px;
    }
}