.footer__menu {
    margin: 0;
    padding: 0;
    max-width: 465px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767.98px) {
    .footer__menu {
        display: block;
        max-width: 186px;
    }
}