.lead__title {
    margin: 56px auto 0;
    max-width: 720px;
    text-align: center;
    font-size: 96px;
    line-height: 1.04;
    font-weight: 900;
    color: white;
}

@media screen and (max-width: 1279.98px) {
    .lead__title {
        margin-top: 48px;
    }
}


@media screen and (max-width: 767.98px) {
    .lead__title {
        font-size: 70px;
        line-height: 1.2;
    }
}

@media screen and (max-width: 480px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 1.1;
    }
}
