.intro {
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1279.98px) {
    .intro {
        max-width: 928px;
        padding: 0 48px;
    }
}


@media screen and (max-width: 1023.98px) {
    .intro {
        max-width: 720px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 767.98px) {
    .intro {
        min-width: 288px;
        padding: 0 16px;
    }
}
