.places__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
}


@media screen and (max-width: 767px) {
    .places__website {
        padding-left: 24px;
        max-width: 352px;
    }
}

@media screen and (max-width: 480px) {
    .places__website {
        padding: 16px;
    }
}
